@media screen and (max-width: 767px) 
{
    .burger-btn {
        display: none;
    }

    .logo {
        margin: auto 3em;
    }

    .logo h1 {
        font-size: 20px;
    }

    .login .user-ico {
        font-size: 27px;
    }

    .dash-container {
        display: block;
    }

    .menu {
        display: flex;
        width: 100%;
        padding: 1em;
    }

    .content-btn-m {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn-menu {
        margin: 0 5px !important;
        width: unset;
        margin: 1.5em 0;
    }

    .btn-menu a{
        display: flex;
        width: auto;
        font-size: 16px;
    }
    
    .content {
        width: auto;
    }

    .content-p {
        flex-wrap: wrap;
        justify-content: center;
    }

    .mt-p {
        margin-top: 1em;
    }

    .contentE-btn {
        display: block;
        width: 97%;
        justify-content: center;
        margin: 1em auto;
    }

    .btn {
        font-size: 1.1em;
        width: 100%;
        margin: .7em 0;
        padding: 1em;
    }

    .p-l, .p-m, .p-s, .p20, .p-xs {
        width: 100%;
    }
}

@media screen and (max-width: 480px)
{
    nav {
        width: 100%;
    }

    .burger-btn {
        display: block;
        margin: 0 30px;  
        font-size: 30px;
        color:  #6c757d; 
    }

    .logo h1 {
        font-size: 14px;
    }

    .login {
        margin: .5em 1em;
    }

    .login p {
        font-size: 11px;
    }

    .login .user-ico {
        font-size: 25px;
    }

    .menu {
        display: flex;
        width: 100vw;
        height: 100vh;
        background-color: rgba(13, 110, 253, .85);
        position: fixed;
        z-index: 3;
        top: 0;
        left: -100vw;

        transition: .3s;
    }

    .menu.activo {
        left: 0;
    }

    .Xclose-ico {
        display: block;
        position: absolute;
        top: 21px;
        right: 20px;
        font-size: 35px;
        color: white;
    }

    .content-btn-m {
        display: list-item;
        margin: auto;
        width: 80%;
    }

    .btn-menu {
        margin: 2em auto !important;
    }

    .btn-menu a {
        display: block;
        text-align: center;
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

    .btn-menu a:hover{
        background: transparent;
        font-weight: unset;
        transform: scale(1.2);
    }
    
    .content {
        margin: 0;
        padding: 0;
        font-size: 14px
    }

    .formulary {
        margin: 0;
    }

    .contentE-btn {
        width: 100%;
    }
}

@media screen and (max-width: 400px)
{
    .burger-btn{
        margin: 0 25px;  
        font-size: 27px; 
    }

    .login .user-ico {
        font-size: 30px;
        margin: auto 0;
    }

    .login p {
        display: none;
    }  
}