@media screen and (max-width: 767px) 
{
    .burger-btn {
        display: block;
    }

    .burger-btn i {
        margin: 0 1.5em;
    }

    .logo {
        margin: auto;
    }

    .logo h1 {
        font-size: 17px;
    }

    .login .user-ico {
        font-size: 27px;
    }

    .dash-container {
        display: block;
    }

    .menu {
        display: none;
    }

    .content {
        width: auto;
    }

    .btn-menu {
        margin: 1.5em 0;
    }

    .content-p {
        flex-wrap: wrap;
        justify-content: center;
    }

    .mt-p {
        margin-top: 1em;
    }

    .contentE-btn {
        display: block;
        justify-content: center;
        margin: 1em auto;
        width: 80%;
    }

    .btn {
        font-size: 1.1em;
        width: 100%;
        margin: .7em 0;
        padding: 1em;
    }

    .p-l, .p-m, .p-s, .p20, .p-xs {
        width: 100%;
    }
}

@media screen and (max-width: 480px)
{
    nav {
        width: 100%;
    }
    
    .burger-btn i{
        margin: 0 30px;  
        font-size: 30px; 
    }

    .logo h1 {
        font-size: 14px;
    }

    .login {
        margin: .5em 1em;
    }

    .login p {
        font-size: 11px;
    }

    .login .user-ico {
        font-size: 25px;
    }

    .menu {
        display: none;
    }
    
    .content {
        margin: auto;
        padding: 1em;
        font-size: 12px;
    }
}

@media screen and (max-width: 400px)
{
    .burger-btn i{
        margin: 0 25px;  
        font-size: 27px; 
    }

    .logo h1 {
        font-size: 14px;
    }

    .login .user-ico {
        font-size: 30px;
        margin: auto 0;
    }

    .login p {
        display: none;
    }

    .content {
        font-size: 10px;
    }  

    .content-p input {
        font-size: 12px;
    }
}