:root {
    /* Colors */
    --black: #000000;
    --white: white;

    /* Espacios */
    --s-10: 10px;
    --s-5: 5px;

    /* Shadows */
    --shadowC: 3px 3px 5px rgba(200,214,229,.8);
    --shadowL: 2px 2px 4px rgba(200,214,229,.6);

    /* mause */
    --pointer: pointer;
}

/*           ------ Estilos ------              */

body {
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    display: block;
}

input {
    width: 98%;
    padding: .3em;
    box-shadow: var(--shadowL);
    border-radius: var(--s-5);
}

a {
    text-decoration: none;
    color: var(--black);
}

hr {
    background: rgba(106, 137, 204,1.0);
}

.formulary {
    margin: var(--s-10);
    border: none;
}

.btn {
    font-size: 1.2em;
    margin: 0 40px 0 40px;
    border-radius: var(--s-5);
    padding: .4em;
    cursor: var(--pointer);
}

/*           ------ nav ------              */
nav {
    border: 1px solid var(--black);
    border-radius: var(--s-5);
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--s-10);
    align-items: center;
    box-shadow: var(--shadowC);
}

.logo {
    margin: 0 4em;
    border: 1px solid gray;
    padding: 1em;
    border-radius: var(--s-5);
}

.logo h1 {
    margin: 0;
}

.login{
    margin: 1em 3em;
    text-align: center;
}

.login .user-ico {
    font-size: 50px;
}

.login p {
    margin: .5em 0 0 0;
}

.login button {
    background: transparent;
    border: none;
    padding: .5em;
    cursor: var(--pointer);
}

/*           ------ container ------              */
.container {
    border: 1px solid var(--black);
    border-radius: var(--s-5);
    padding: var(--s-10);
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: var(--shadowC);
}

/*           ------ menu ------              */
.menu {
    border: 1px solid var(--black);
    border-radius: var(--s-5);
    padding: 30px 0;
    width: 25%;
    box-shadow: var(--shadowC);
}

.content-btn-m {
    margin: 0 auto;
    width: 80%;
    padding: 0;;
}

.btn-menu {
    border-radius: var(--s-5);
    width: 100%;
    margin: var(--s-10) 0 var(--s-10) 0;
    padding: .5em;
    text-align: start;
    background: transparent;
    border: none;
    font-size: 1.2em;
    cursor: var(--pointer)
}

/*           ------ content ------              */
.content.active {
    border: 1px solid var(--black);
    border-radius: var(--s-5);
    width: 72%;
    margin-left: var(--s-10);
    padding: var(--s-10);
    box-shadow: var(--shadowC);
}

.content.off {
    display: none;
}

.content-pm {
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
}

.p-m {
    width: 46.8%;
}

.p-m input {
    width: 95.6%;
}

.contentE-btn {
    display: flex;
    justify-content: space-between;
    margin: var(--s-10);
    padding: var(--s-10);
    width: 70%;
}

.btn-save {
    background: green;
    color: var(--white);
}

.btn-cancel {
    background: red;
    color: var(--white);
}


/*           ------ pseudoclases ------              */

.btn-menu:hover {
    background: rgba(130, 204, 221,0.45);
}

.btn-menu:focus {
    color: rgba(106, 137, 204,1.0);
    transform: scale(1.1);
}