:root {
    /* Colors */
    --black: #000000;
    --white: white;
    --azulM: #1e3799;
    --gray: #f8f9fa;
    --grayBorder: #ced4da;
    --grayBtn: #6c757d;
    --blueBtn: #0d6efd;

    /* Espacios */
    --s-10: 10px;
    --s-5: 5px;

    /* Shadows */
    --shadowC: 0px 19px 25px -6px rgba(0,0,0,0.37);
    --shadowNav: 0px 5px 30px -10px rgba(0,0,0,0.26);

    /* mause */
    --pointer: pointer;
}

/*           ------ Estilos ------              */

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

input {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: .6em;
    border-radius: var(--s-5);
    border: 2px solid var(--grayBorder);;
}

a, li {
    text-decoration: none;
    color: var(--black);
    cursor: var(--pointer);
}


.formulary {
    margin: var(--s-10);
    border: none;
    padding: 0;
}

.btn {
    font-size: 1.4em;
    margin: var(--s-10);
    border-radius: var(--s-5);
    padding: .65em 1em;
    cursor: var(--pointer);
    width: 50%;;
}

.p-l {
    width: 66%;
}

.p-m {
    width: 49%;
}

.p-s {
    width: 32%;
}

.p-xs {
    width: 15%;
}

/*           ------ nav ------              */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-shadow: var(--shadowNav);
    position: relative;
    z-index: 2;
}

.burger-btn {
    display: none;
}

.logo {
    margin: 0 4em;
    border: 1px solid var(--grayBtn);
    padding: .8em;
    border-radius: var(--s-5);
}

.logo h1 {
    margin: 0;
    color: var(--grayBtn);
}

.login{
    margin: .5em 3em;
    text-align: center;
}

.login .user-ico {
    font-size: 30px;
    color: var(--grayBtn);
}

.login p {
    margin: .5em 0 0 0;
    color: var(--grayBtn);
}

.login{
    padding: .5em;
    cursor: var(--pointer);
}

/*           ------ container ------              */
.dash-container {
    width: 100vw;;
    padding: var(--s-10);
    display: flex;
    box-sizing: border-box;
    background: var(--gray);
}

/*           ------ menu ------              */
.menu {
    padding: 30px 0;
    width: 22.5%;
    margin-top: var(--s-10);
    /* box-shadow: var(--shadowC); */
    border-radius: var(--s-5);
    box-sizing: border-box;
    background: var(--gray);
}

.Xclose-ico {
    display: none;
}

.content-btn-m {
    margin: 0 auto;
    width: 80%;
    padding: 0;;
    list-style: none;;
}

.btn-menu {
    width: 90%;
}

.btn-menu a{
    width: 100%;
    display: block;
    margin: var(--s-10) 0;
    padding: .5em;
    font-size: 1.2em;
    border-radius: var(--s-5);
}

/*           ------ content ------              */
.content {
    width: 75%;
    padding: var(--s-10);
}

.content-p {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    box-sizing: border-box !important;
}

.contentE-btn {
    display: flex;
    margin: var(--s-10);
}


.btn-save {
    background: var(--blueBtn);
    color: var(--white);
    border: none;
}

.btn-cancel {
    background: var(--grayBtn);
    color: var(--white);
    border: none;
}


/*           ------ pseudoclases ------              */

.btn-menu a:hover{
    background: var(--blueBtn);
    font-weight: bold;
    color: var(--white);
}

.btn:focus {
    transform: scale(.9);
    font-weight: bold;
}
